django>=5.1,<6
django>=5.1,<6
djangorestframework>=3.15.2
django-filter>=25.1
django-cors-headers>=4.5.0
# Dipendenze essenziali per Django + SMTP Brevo
psycopg2-binary>=2.9.9
dj-database-url>=2.3.0
gunicorn>=23.0.0
whitenoise>=6.7.0
django-extensions>=3.2.3
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.2
# pin to latest available zxcvbn-python on PyPI to avoid build failures
zxcvbn-python==4.4.24
